section p {
    background-color: blue;
}

.ul-about > li {
    background-color: palevioletred;
}

article + article {
    background-color: green;
}

h3 ~ p.first-p {
    background-color: aqua;
}

/* Style for the specific <a> element */
.ul-about .li + .li > a[href="#1"] {
    color: red;
    font-weight: bold;
}
